--extra-index-url https://download.pytorch.org/whl/cpu
huggingface-hub>=0.23.0
gradio
tensorflow-cpu
torch
torchvision
torchaudio
Pillow
numpy
reportlab
transformers
accelerate
sentencepiece
protobuf
tokenizers
safetensors
